@define-color strongaccent #ff00ff;
@define-color weakaccent #7a00ff;

@define-color black #000000;
@define-color white #ffffff;


/* global options */
* {
  background-image: none;
  background-color: @black;
  color: @white; 
  border-radius : 7px;
  padding : 1px 4px;
}

/* global action options */
*:hover {
  background-image: none;
  background-color: @weakaccent;  
  color: @black;
}

*:hover label, *:hover * {
    background-image : none;
    background-color : transparent;
    color : @black;
}

*:selected,
*:active,
*:checked,
*:selected label,
*:active label,
*:checked label,
button:selected *,
button:checked *,
button:active * {
  background-image: none;
  background-color: @strongaccent;
  color : @black;
}
