@define-color strongaccent #ff00ff;
@define-color weakaccent #7a00ff;

@define-color black #000000;
@define-color white #ffffff;


/* global options */
* {
  background-color: @black;
  color: @white; 
  padding : 4px 7px;
  border-radius : 10px;
}

/* global action options */
*:hover {
  background-color: @weakaccent;  
}

*:selected,
*:active,
*:checked {
  background-color: @strongaccent;
  color: @black;
}

