@define-color strongaccent #ff00ff;
@define-color weakaccent #7a00ff;

@define-color black #000000;
@define-color white #ffffff;

* {
    all : initial;
    font-size : 11px;
    font-weight : normal;
}

window {
    margin: 0px;
    border: 2px solid @weakaccent;
    border-radius: 10px;
}

#input {
    margin: 2px;
    border: 1px solid @weakaccent;
    border-radius : 5px;
    color: @white;
    background-color: @black;
    font-size : 14px;
}

#input image {
    color: @white;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: @black;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @black;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @white;
}

#entry:selected {
    border-radius : 10px;
    background-color: @strongaccent;
}

#text:selected {
    background-color: @strongaccent;
    color : @black;
}
