* {
    all : initial;
    font-size : 19px;
    font-weight : normal;
}

window {
    margin: 0px;
    border-radius: 10px;
    border: 3px solid;
}

#input {
    margin: 2px;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#input image {
    margin : 2px;
}

#inner-box {
    margin: 0px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 10px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
}

#entry:selected {
    border-radius : 10px;
}
